<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a mi Aplicación Flask</h1>
    <p>Iteración <strong>{{iteracion}}</strong> de {{nro_iteraciones}} </p>
    <form action="{{url_for('pagina_bucle')}}" method="post">
        <label for="id_texto">Escribe algo:</label>
        <input id="id_texto" type="text" name="texto">
        <br><br>
        <button type="submit">Avanzar</button>
    </form>
    
    <br><br>
    {% if texto %}
        <p>Se ha escrito este texto: <strong>{{texto}}</strong>.</p>
    {% else %}
        <p>No se ha escrito nada.</p>
    {% endif %}
</body>
</html>