<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi Aplicación Flask</h1>
    <p>Esta es la página de inicio.</p>
    <p>Una cantidad es: {{una_cantidad}}</p>

    <form action="{{url_for('pagina_saludar')}}">        
        <button type="submit">Recibir saludo</button>
    </form>
    <form action="{{url_for('pagina_listar_nombres')}}">        
        <button type="submit">Listar nombres</button>
    </form>
</body>
</html>
