<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Digital</title>
</head>
<body>
    <img src="{{ url_for('static', filename='libros.png') }}">
    <h3>Hay {{num_libros}} libros en la biblioteca</h3>
    <h3>Ingresar la información del libro:</h3>    

    <form action="{{url_for('funcion_agregar')}}" method="post">

        <label for="nombre">Nombre del libro:</label><br>
        <input type="text" id="nombre" name="input_nombre" value=""><br>

        <label for="autor">Nombre del autor:</label><br>
        <input type="text" id="autor" name="input_autor" value=""><br>

        <label for="calif">Calificación:</label><br>
        <input type="number" id="calif" name="input_calif" value="" max="10"><br><br>

        <input type="submit" value="Agregar">
    </form>
    <br>
    <form action="{{url_for('inicio')}}">
        <input type="submit" value="Volver">
    </form>
</body>
</html>