<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('agregar')}} " method="post">

        <label for="fname">Nombre del libro:</label><br>
        <input type="text" id="fname" name="input_nombre" value=""><br>

        <label for="lname">Nombre del autor:</label><br>
        <input type="text" id="lname" name="input_autor" value=""><br>

        <label for="lname">Puntuación:</label><br>
        <input type="text" id="lname" name="input_puntaje" value=""><br><br>

        <input type="submit" value="Agregar">
    </form>
</body>
</html>